* {
    margin:0;
    padding:0;
    font-family: Impact ;
}
body{
    background: -moz-radial-gradient(lightBlue,tomato);
}
.img-gallery{
  width:50%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 30px;
}
.img-gallery img{
  width:100%;
  cursor:pointer;
}